@use "../base";

// Quote
#quote {
  position: relative;
  width: 100%;
  padding: 0 calc(var(--side-margin));
  margin: 10% 0;

  .quote-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    h1 {
      color: var(--secondary-color);
      font-size: calc(var(--heading-size) * 0.6);
    }

    h3 {
      color: var(--main-color);
      margin-top: 2rem;
    }
  }
}